/* Variaveis e cores */
:root {
    --botao:#fc3836;
    --stripe:#fe7467;
   
    --primeiro-titulo: #fff;
    --segundo-titulo: #000000;
    --paragrafo-color: #fff;
    --paragrafo-black: #000000;

}
